<div class="jumbotron">
    <div class="container">
      <div class="row header">

        <div class="col-md-12  clearfix">
          <img style="height: 80px;" src="http://gravatar.com/avatar/11bb38e2f8c1f6ece2bee45b94990d17?d=identicon" />
          <div>
            <h1 class="name pull-left"><a href="/">{{ site.name }}</a></h1>
            <div id="intro" class="services pull-right" style="margin-bottom: 0px; text-align: right;">
              <a href="https://twitter.com/dbelford" ><i class="icon-twitter"> </i></a>
              <a href="https://github.com/dbelford" ><i class="icon-github"> </i></a>
              <a href="/location" ><i class="icon-map-marker"> </i></a>
            </div>
          </div>
        </div>

      </div><!-- end row -->
    </div><!-- end container -->
  </div>