<nav class="navbar navbar-static-top" role="navigation">
  <div class="container">
    <div class="row header">

      <div class="col-md-12  clearfix">
        <a class="hidden-sm" href="/">
          <img class="" style="position: absolute; height: 50px;" src="http://gravatar.com/avatar/11bb38e2f8c1f6ece2bee45b94990d17?d=identicon" />
        </a>
        <a class="pull-left" href="/"><h1 class="name" >{{ site.name }}</h1></a>
        <div id="intro" class="services pull-right" style="margin-bottom: 0px; text-align: right;">
          <a href="https://twitter.com/dbelford" ><i class="icon-twitter"> </i></a>
          <a href="https://github.com/dbelford" ><i class="icon-github"> </i></a>
          <a href="/location" ><i class="icon-map-marker"> </i></a>
        </div>
      </div>

    </div><!-- end row -->
  </div><!-- end container -->
</nav>