<div class="jumbotron footer">
  <div class="container">
    <div class="row contact-row">

      <div class="col-sm-2 col-xs-12">
        <div style="text-align: center;">
          <img height="120" width="120" src="/images/bike-icon@2x.png"/>
        </div>
      </div>
      <div class="contact col-sm-2 col-xs-4">
        <h4>My Work</h4>
        <p>
          <a href="/projects">Projects</a>
          <br />
          <a href="/resume">Resume</a>
        </p>
      </div>
      <div class="contact col-sm-2 col-xs-4">
        <h4>Connect</h4>
        <p>
          <a href="https://twitter.com/wongjennifer">Twitter</a><br />
          <a href="http://www.linkedin.com/in/jzwong">LinkedIn</a><br />
          <a href="https://www.facebook.com/jzwong">Facebook</a>
        </p>
      </div>
      <div class="contact col-sm-2 col-xs-4">
        <h4>Contact</h4>
        <p class="clip-sm"style="">
          <a href="mailto:wongjennifer@ucla.edu">wongjennifer@ucla.edu</a>
        </p>
        <p style="border-top: 1px solid rgba(255,255,255, 0.5);margin-top: -10px; padding-top: 4px; color: rgba(255,255,255, 0.6);">
          © 2014 Jennifer W.
        </p>
      </div>
      <div class="contact col-sm-2 col-xs-12" style="height: 180px;">
        <div  class="scroll-to-top">
          <a href="#">
            <i class="fa fa-arrow-up"></i>
          </a>
        </div>
      </div>
      <div class="contact col-sm-2">
        
      </div>
      
    </div><!-- End contact-row -->
      
  </div>
</div> <!-- End Jumbotron -->